<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Events</title>
</head>

<body>
    <section class="event-index">
        <h1 class="heading">All Events</h1>
        <a class="btn btn-create" href="/events/new">Create New Event</a>

        <ul class="event-list">
            <% events.forEach(event=> { %>
                <li class="event-item">
                    <a class="event-link" href="/events/<%= event._id %>">
                        <%= event.name %>
                    </a>
                    <span class="event-date">
                        <%= new Date(event.date).toLocaleDateString() %>
                    </span>
                    <span class="event-date">
                        <%= event.location %>
                    </span>
                    <a class="btn btn-edit" href="/events/<%= event._id %>/edit">Edit</a>
                    <form class="event-delete-form" action="/events/<%= event._id %>?_method=DELETE" method="POST">
                        <button class="btn btn-delete" type="submit">Delete</button>
                    </form>
                </li>
                <% }) %>
        </ul>
    </section>
</body>

</html>