<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Guest list </title>
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/layout.css" />
</head>

<body>
    <%- include("../partials/_logo") %>
    <div class="layout">
        <%- include("../partials/_navbar") %>
        <main class="content">
            <section class="guest-index">
                <h1 class="page-title" id="guest-index-title">
                    Guest List for <%=event.name%>
                </h1>
                <a class="btn btn-create" href="/events/<%= event._id %>">Back to Event</a>
                <a href="/events/<%= event._id %>/guests/new" class="btn add-btn" id="add-new-guest">
                    Add New Guest
                </a>
                <div class="guest-grid" id="guest-list">
                    <% guests.forEach(guest=> { %>
                        <div class="guest-card">
                            <h2 class="guest-name">
                                <%= guest.firstName %>
                                <%= guest.lastName %>
                            </h2>
                            <p class="guest-email">Email: <%= guest.email %>
                            </p>
                            <p class="guest-phone">Phone: <%= guest.phone %>
                            </p>
                            <p class="guest-group">Group: <%= guest.group %>
                            </p>
                            <div class="div-btn">
                                <a href="/guest/<%= guest._id %>" class="btn view-btn">View</a>
                                <a href="/guest/<%= guest._id %>/edit" class="btn edit-btn">Edit</a>
                                <form action="/guest/<%= guest._id %>?_method=DELETE" method="POST" class="delete-form">
                                    <button type="submit" class="btn btn-delete">Delete</button>
                                </form>
                            </div>
                        </div>
                    <% }) %>
                </div>
            </section>
        </main>
    </div>
</body>

</html>