<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Payments</title>
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/layout.css" />
</head>

<body>
    <%- include("../partials/_logo") %>
    <div class="layout">
        <%- include("../partials/_navbar") %>
        <main class="content">
            <section class="event-index">
                <h1 class="heading">All Payments</h1>
                <a class="btn btn-create" href="/events/<%= eventId %>">Back to Event</a>
                <% userVendors.forEach(userVendor=> { %>
                    <section class="vendor-payments">
                        <h2>
                            <%= userVendor.vendorId?.name || "Unknown Vendor" %>
                        </h2>
                        <ul>
                            <% payments.filter(p=> p.userVendorId.toString() ===
                                userVendor._id.toString()).forEach(payment => { %>
                                <li>
                                    <div class="event-main">
                                        <div class="event-meta">
                                            <span class="payment-link" href=>$<%= payment.amount %></span>
                                            <span><%= payment.paymentType %></span>
                                            <span class="paym-stat"><%= payment.status %></span>
                                            <a class="btn btn-view" href="/events/<%= eventId %>/payments/<%= payment._id %>/<%= userVendor._id %>">Details</a>
                                            <a class="btn btn-edit" href="/events/<%= eventId %>/payments/<%= payment._id %>/edit/<%= userVendor._id %>">Edit</a>
                                            <form class="payment-delete-form" action="/events/<%= eventId %>/payments/<%= payment._id %>?_method=DELETE" method="POST">
                                                <button class="btn btn-delete" type="submit">Delete</button>
                                            </form>
                                        </div>
                                    </div>
                                </li>
                            <% }) %>
                        </ul>
                        <a class="btn btn-payment" href="/events/<%= eventId %>/payments/new/<%= userVendor._id %>">Add
                            Payment</a>
                    </section>
                    <% }) %>
            </section>
        </main>
    </div>
</body>

</html>